[2015-06-23 20:42] sokoow opened #3 "Research another type of ecc codes: Raptor/LT/Fountain"
Reed-solomon is one of the earliest turbo codes, it has evolved since into:

http://blog.notdot.net/2012/01/Damn-Cool-Algorithms-Fountain-Codes

Opening an issue to point your attention to it also :)

[2015-06-24 02:35] iwanbk opened #4 "SIGILL: illegal instruction on old AMD Athlon(tm) II X2 245"
First, thanks for this fast library.
It worked fine on my Intel CPU but crashed on my old AMD CPU.

I know it is old, just in case similar processor also have this issue.

This is error message from `go test`

[code]

And this is my cpuinfo
[code]

[2015-06-24 07:50] klauspost commented on #4
Very strange. It obviously doesn't have SSE3, but it is detected as having it.

Could you go to `your-gopath/github.com/klauspost/cpuid` and capture the output of `go test -v`?

[2015-06-24 14:01] iwanbk commented on #4
@klauspost
here are the result
[code]

[2015-06-24 14:23] klauspost commented on #4
Very weird. It *does* actually SSE3 ([confirmed here](https://en.wikipedia.org/wiki/List_of_AMD_Athlon_X2_microprocessors)). I will check if I have accidentally used an instruction from SSE4 or something else.

[2015-06-24 14:58] klauspost commented on #4
Ah- I'm stupid. All this time i assumed it was SSE3, but PSHUFB is S(upplemental)SSE3 :/

Fixed in commit cfcc65d3875962847885b80a37de0864890a268a

[2015-06-24 15:00] klauspost commented on #4
Closing. Hope it helps! Thanks again for reporting!

[2015-06-24 15:00] #4 closed

[2015-06-25 12:01] klauspost commented on #3
@sokoow thanks for the link!

I don't see huge advantages, but here thy are just for reference:

* FC Pros
  * Shard number is unlimited (not 256 as this RS implementation).
  * Likely faster on many shards.
  * You don't need all shards to be able to reconstruct.

* RS Pros
  * Decoding is predictable. You need 16GB valid shard data to decode 16GB. With FC it depends. I don't like unpredictabilit

[2015-07-08 04:47] spikebike opened #6 "Benchmark code?"
I was interested in the benchmarks you posted in the README.md.  I wanted to compare to other approaches.  But I didn't see the code for the (5,2), (10,2), (10,4), (50,20), and 1,2,4 and 8 thread runs.  Did I miss it?

For scaling was that inside the enc.Encode?  Or interleaving enc.split across multiple encodes?

[2015-07-08 07:48] klauspost commented on #6
It is in [reedsolomon_test.go](https://github.com/klauspost/reedsolomon/blob/master/reedsolomon_test.go#L218)

To run the ones you mention:
[code]

Slices are calculated 512 bytes at the time in parallel goroutines. See https://github.com/klauspost/reedsolomon/blob/master/reedsolomon.go#L223

[2015-07-08 08:38] spikebike commented on #6
Great, perfect, thanks.

[2015-07-08 09:49] #6 closed

[2015-07-28 16:12] lrq3000 commented on #3
Reed-Solomon are not a kind of turbo code. Reed-Solomon is an optimal error correction algorithm (meaning that it can reach exactly the Singleton bound), whereas turbo codes are near-optimal codes (they always are below the Singleton bound). Maybe you can find some similarities (and in fact, both can be combined in convolutional or concatenated codes), but they are not the same class of algorithms

[2015-08-08 13:29] klauspost commented on #3
I will put it on my "future-projects" list. But thanks for bringing it up!

Either way it will be a separate package, so I will close this.

[2015-08-08 13:29] #3 closed

[2015-10-22 14:16] newtoncorp opened #9 "Change sizes to uint64 and not int"
At least the Join method needs to be changed, it forbids us from having a reconstructed file with more than 2^31 bytes in it.

Are there hidden implications to this change or is this straightforward ? (Not counting the fact that file parts have to be < 2^31 bytes too)

[2015-10-22 16:00] klauspost commented on #9
I cannot really change that, since it would break existing implementations.

Furthermore, there is no way for you to allocate enough memory to fill the shards, since the size of int on any platform is the same as the allowed memory allocation AFAIK . Meaning 32 bit machines cannot allocate more than 2GB of memory for a single process.

What operating system are you developing for?

It would be fai

[2015-10-23 10:36] newtoncorp commented on #9
I am developing on Linux 64bits on machines that have plenty of ram.
I am fairly new to golang, is the int type in a 64bits environment equal to 64 or 32 bits ?

Other wise, the streamed join would be fine.

[2015-10-23 11:17] klauspost commented on #9
On 64 bit machines, int is 64 bits. (63+sign)

While it isn't guaranteed, `int` is used for slice lookups, so in practice it always matches the memory size of the system. Otherwise, you could get into a sitation where you could only use a 2GB byte slice size on a 64 bit system, which isn't a useful limitation.

In hindsight, it would have been more obvious if the variable was int64, but it's too l

[2015-10-23 14:18] klauspost commented on #9
I started working on the streaming API, and got the first version in PR #10.

You are welcome to track progress there.

[2015-10-23 14:18] #9 closed

[2015-12-06 11:19] vtolstov opened #11 "use intel isa-l or avx2 instructions"
Thanks for this library, do you try to compare this package with intel isa-l (it already provides fast calculation and as i know erasure coding).
Also as i understand isa-l use non only sse3, but avx/avx2 if it available. Do you plan to support this optimization?

[2015-12-06 12:11] klauspost commented on #11
Unless they use another technique, I believe a speedup would require AVX2. AVX only has the benefit is 3-op instructions, and we aren't  heavily burdened by register allocation - memory fetching is far dominant.

I don't have an AVX2 capable machine, so I haven't explored it.

`VPSHUFB ymm, ymm, ymm` can process twice the data that `PSHUFB xmm, xmm` can do, so we can maybe get a 20% speedup overal

[2015-12-06 12:39] vtolstov commented on #11
yes, i'm have avx2, also i can provide vm for test that pass host cpu flags. If you send me email i can send credentials for this vm.

[2015-12-06 12:49] vtolstov opened #12 "dedup/erasure/compress"
In which combination in case of fast storage/cheap storage dedup/erasure/compress can be used?

As i understand in case of erasure using dedup is problem?

[2015-12-06 15:51] klauspost commented on #12
It depends a lot on your data. It is general purpose file storage, log files (streams).

The general approach should be dedup -> compress -> erasure. That will ensure the smallest amount of data.

However, a lot of the gains from deduplication comes from running it across multiple TB of data, so if you treat files as separate entities you will of course not get the main benefit.

ZPAQ includes ded

[2015-12-14 13:22] vtolstov commented on #11
Thanks!

[2015-12-14 13:22] #11 closed

[2016-01-11 13:40] #12 closed

[2016-02-17 04:24] buaazp opened #14 "File size not equal after decoding on Mac OS X"
Hi @klauspost

I test the examples on my macbook, and the new file after decoding is bigger than the original. About 1~3 bytes bigger. Then I test the same case on Linux, the size is equal.

Maybe your asm codes are not compatible for OSX?

[2016-02-17 08:55] klauspost commented on #14
Your input size must be dividable by the data shard count.

https://godoc.org/github.com/klauspost/reedsolomon#Encoder

See Split:
[code]

This is why you must specify the expected size when joining shards.

[2016-02-17 09:18] buaazp commented on #14
I use your [examples](https://github.com/klauspost/reedsolomon/tree/master/examples) for testing. Not the library. All args use default value. And the tests on Linux is OK.

[2016-02-17 10:04] klauspost commented on #14
See: https://github.com/klauspost/reedsolomon/blob/master/examples/simple-decoder.go#L14

[code]

[2016-02-17 10:17] buaazp commented on #14
I know the reason of Padding Bytes. Maybe you don't understand my issue.

step 1. my original file:
[code]
step 2. encode with your simple-encoder:
[code]
step 3. decode with your simple-decoder:
[code]
step 4. the new file is bigger:
[code]

And I'm confused that why this situation doesn't happen on Linux.

[2016-02-17 10:22] buaazp commented on #14
Sorry, I got it. And I found the issue on Linux also.

[2016-02-17 10:22] #14 closed

[2016-02-17 10:24] klauspost commented on #14
Glad you got the same results :)

[2016-02-28 04:42] harshavardhana opened #15 "feature request - Implement cauchy matrix as enhancement over vandermonde"
Taking some inputs from Intel's ISAL library.

[code]

[2016-02-28 04:43] harshavardhana commented on #15
[code]

[2016-03-31 08:21] amits1995 opened #16 "matrix is singular error"
Hi, I am using the example's files to test the code.
When I take a 100MB file with 250 data shards and 125 pairity shards and then delete shards 0-49 and 270-279 reconstruction fails with matrix is singular error. Is this suppose to happen? Cause I thought I can lose up to 125 shards and still recover the data.
What am I missing?
Thanks, Amit

[2016-03-31 11:31] amits1995 commented on #16
Also happens for random 40kb buffer and some other files. For fewer pairity/shards (e.g 50/20) error doesn't occur. Is the likelihood of singularity rises when the size of the matrix rises?

[2016-04-07 11:04] xiaost commented on #16
it seems the  rows/cols idx exceeds byte len when generating Vandermonde matrix within Galois Field

https://github.com/klauspost/reedsolomon/blob/master/matrix.go#L271

[2016-04-10 18:30] klauspost commented on #16
It would seem that to be safe from this the number of data+parity shards should not exceed 255.

I did some tests, which only seemed to fail if the number of data shards where >255, but it seems like there is another limitation that kicks in when reconstructing.

[2016-04-10 18:40] amits1995 commented on #16
Hi,
Thanks for the answer.
I think I missed the point of how to avoid this or that maybe it's a bug?
Are you saying that shards+parity cannot excced 255? Cause I didn't infer
that from the documentation. (And also there's no error for those
dimensions)
Sorry for my lack of understanding.
On Apr 10, 2016 21:30, "Klaus Post" <notifications@github.com> wrote:

[2016-04-10 18:50] klauspost commented on #16
That would be my recommendation. I will do some more tests, but for now, I would stick to that.

[2016-04-10 18:52] amits1995 commented on #16
Thank you very much
On Apr 10, 2016 21:50, "Klaus Post" <notifications@github.com> wrote:

[2016-04-29 21:05] harshavardhana commented on #16
AFAIK - (k + m) cannot be bigger than Galois field GF(2^8) - 1

[2016-04-30 08:03] amits1995 commented on #16
ok so shouldn't we add a check at the constructor?

[2016-04-30 08:22] harshavardhana opened #21 "Request to enable tests for windows"
This package should enable tests for windows using http://www.appveyor.com/ a sample appveyor.yml is here.

[code]

[2016-04-30 11:38] klauspost commented on #16
That would make sense, yes -  as well as updating the documentation

[2016-04-30 11:48] klauspost commented on #21
I am pretty sure that Appveyor has Go installed already. Maybe if you based it on this, it could be simplified a little:

https://blog.klauspost.com/travisappveyor-ci-script-for-go/

[2016-04-30 18:58] harshavardhana commented on #21
Ah i see you wrote a nice blog,  the go installation is just to make sure we have latest version - they usually lag behind a bit.  Should i send a PR?

[2016-04-30 20:19] klauspost commented on #21
I would prefer the pre-installed,  even if it is a bit old. That way we don't have to do manual updates. Travis should test the different Go versions anyway.

[2016-05-24 12:42] alekibango opened #22 "question / feature request: usage from python?"
I would love to use this library from my python application.
I am not really sure what would be the best way, as i never used golang before.

One possible method could be using zeromq as interface --  go binding is here:   https://github.com/pebbe/zmq4

This could make really good networked/ipc api, which might be used by all other platforms too.
Or is there a better way to use this from python?

[2016-05-25 09:42] klauspost commented on #22
Thanks for the suggestion!

I don't think that belongs in a base package, but rather in a separate project. Unfortunately I don't currently have the time available to do so. Sorry about that, but I would rather be sure I could do a good job before committing to this.

I am not sure zeromq is the right way to go for any reasonable level of performance, but I would be happy to hear if you get any ex

[2016-05-25 09:42] #22 closed

[2016-05-26 00:35] alekibango commented on #22
i cant speak for zeromq go bindings, but from other languages zeromq is pretty good in terms of performance and ease of use.  But yes, it takes some time to get used to it.
You can try reading http://zguide.zeromq.org/,  the book  is really good and funny read, even  if you will not use zeromq :)

If i get this right (just watched some go presentation) zmq can be used like 'go channels' sending me

[2016-06-04 06:04] #21 closed

[2016-06-04 06:05] #16 closed

[2016-07-20 02:39] harshavardhana commented on #15
Closing this after @fwessels explained in detailed about the issue in Intel's implementation. Current implementation of vandermonde in this package already handles the invertible case.

[2016-07-20 02:39] #15 closed

[2016-07-23 08:17] spikebike opened #29 "Better example of simple-encoders/decoder"
I was tinkering with the examples and as a bit surprised that a single bit error can corrupt the decoding.  The README does mention this "If values have changed in a shard, it cannot be reconstructed".

I was thinking it might be useful to have an example closer to a real world use case.

The example README does mention hashing the shards so you can delete the corrupt ones.  But in the default exa

[2016-07-23 08:21] klauspost commented on #29
What do you think is missing in the current ones?

[2016-07-23 08:22] spikebike commented on #29
Sorry, still writing the issue, accidentally hit enter.

[2016-07-23 08:39] spikebike commented on #29
Original issue fixed.

[2016-08-02 22:06] muesli opened #33 "Make join return an error if a reconstruction is required first - e.g. one or more data shards are nil"
Less of an issue, more of a question:

If I feed Split with little data (say 4 bytes) and have more than 4 shards, there won't be an error returned, even though it'll break reconstructing the data later on.

Is this something you would consider the library handling internally or is this simply an invalid situation / use-case?

[2016-08-03 12:51] klauspost commented on #33
How does it fail? After #20, it should just be zero padded.

[2016-08-05 04:55] muesli commented on #33
I think I see what's happening now and I probably misunderstood the API a bit. I was under the assumption that Join() would return an error if reconstruction was required before joining (e.g. one of the shards is nil) is possible. Instead it happily decodes invalid data (starting with the first nil shard), which didn't match my input data - obviously.

I'll update the title and let you decide what

[2016-08-05 04:57] muesli commented on #33
I'll happily send in a pull request should that indeed be the desired behaviour.

[2016-08-05 11:01] klauspost commented on #33
I would appreciate that. Be mindful of current usage of the behavior, so we don't create problems for people, where the current behavior makes sense. It should detect "holes" in input, where len(shard n) > len(shard-1), which would be safe to assume is an error AFAICT. Please create a unique exported error, so it can be caught by package users.

[2016-08-22 06:35] drorbar opened #35 "Allow 0 parity shards"
Although it doesn't allow a way to reconstruct the data, I think it should be allowed to pass 0 parity shards to the code.
First, it doesn't "harm" the code, it would still work, but will require that every dataShard is still intact - which in my opinion is ok.
Second, right now if a program use the library, and for some "input type" it should use parity and for some it shouldn't, it required from

[2016-08-22 08:35] muesli commented on #35
I must admit I ran exactly in that situation myself, too. While it's not hard to write your own join/split, it would be rather convenient to have it all handled by one lib & code-path.

[2016-08-22 12:14] #33 closed

[2016-08-22 12:16] klauspost commented on #35
@JackSparrow94 If you have tests that verify that the other functions work with 0 parity shards, I would not mind loosening this requirement.

[2016-08-22 12:27] JackSparrow94 commented on #35
Will try to add those tests to the ones already exists and make sure nothing breaks

[2016-08-22 15:47] JackSparrow94 commented on #35
Tests on reedsoloon_test.go passed without a problem is there a reason to check streaming? I didn't used this in my code so I not sure what the streaming do

[2016-10-28 06:48] jannson opened #37 "C compatible version support"
This is a great repo, and I have use it in my personal project.
Then I implement a compatible C version here: https://github.com/jannson/reedsolomon-c
Only one .c file, you can just copy it to your project.

I will make more test later. if someone like it, please have a try :)

[2016-10-28 06:58] jannson commented on #22
@alekibango Try a Cython bind to this project: https://github.com/klauspost/reedsolomon/issues/37 ?

[2016-10-28 07:01] klauspost commented on #37
Cool. I have added a link in the link section!

[2016-10-28 07:08] jcftang commented on #22
There is zfec and PyECLib for python if you need erasure coding, they may not be compatible with this implementation though.

[2016-10-28 07:10] jannson commented on #37
Thanks. I will add more document, and write some test tools to prove that it's really compatible with you golang version.

[2016-10-29 15:44] jannson commented on #37
1. unit test ok
2. document ok
3. compatible tool test ok
4. benchmark not ok

Now I want  to close this issue  :)

[2016-10-29 15:44] #37 closed

[2016-10-29 15:51] klauspost commented on #37
Very nice!

[2016-11-08 14:33] alekibango commented on #22
@jcftang: i have tried those, but they were much slower.

Thansk for tips, guys! will give #37 a try.

[2016-11-10 15:08] alekibango commented on #22
@jannson: Funny thing is that reedsolomon-c implementation is 3 times slower than this one written in go...  I am not sure why.

[2016-12-13 14:22] templexxx commented on #15
@harshavardhana hi! Could you write the explanation here about the intel's implementation? Thank you very much

[2016-12-15 06:05] templexxx commented on #15
@harshavardhana  I have already know the reasons. Thank you all the same

[2017-01-01 14:06] xtaci opened #38 "On codeSomeShardsP"
[code]

I think we need some options to disable(or tune) this, under heavy work, more computational goroutines won't bring performance boosts, or even worse.

how do you think about this?

[2017-01-05 15:17] klauspost commented on #38
Sounds like a good change. To make it the most flexible it should probably be a function on the "Encoder"/"StreamEncoder" interfaces, however I am not a huge fan of adding function to existing interfaces.

What do you see as the best way of adding this?

[2017-01-10 03:22] xtaci commented on #38
for the moment, the best way is by adding ```func SetParallel(num int)``` to reedSolomon struct.

[2017-01-10 03:25] xtaci commented on #38
besides, I'm porting a C++ version of reedsolomon for mobile devices, almost complete.
https://github.com/xtaci/libkcp,  looking forward to your help.

[2017-01-17 23:45] meling opened #40 "Export the `reedSolomon` struct"
I believe a more idiomatic Go approach would be to make the `reedSolomon` struct exported, e.g. by renaming it to `ReedSolomon`. Then the `New()` function should also be changed to return `*ReedSolomon`, making the already capitalized fields of this struct visible to its users.

As it is now, these fields (`DataShards`, `ParityShards`, `Shards`) are not visible because `New` returns an `Encoder` i

[2017-01-18 09:11] klauspost commented on #40
I don't believe it is more idiomatic. If you have some specifics, feel free to share.

Exporting an interface makes it possible to have alternative implementations with the same or similar interface. Furthermore it hides implementation details and allows them to be changed without breaking the API. Lastly changing from interface to struct can potentially break existing applications.

I would proba

[2017-01-18 20:49] meling commented on #40
Sorry, I shouldn't have claimed idiomaticity without any references, and I don't even know if these sources are authoritative in that respect, but I find them compelling:

https://medium.com/@cep21/preemptive-interface-anti-pattern-in-go-54c18ac0668a#.e6gkaujxp
https://medium.com/@cep21/what-accept-interfaces-return-structs-means-in-go-2fe879e25ee8#.x6a4ijcrt

Dave Cheney referred to the following

[2017-01-18 22:00] meling opened #42 "Why return both bool and error from Verify()?"
It seems a little burdensome to deal with both error and bool from `Verify()`. It seems to me to be an easy fix to make it just return an error. A correct verification would return nil.

Just curious if this something that is needed in its current form. And if you consider such a breaking change unacceptable because of some compatibility promise (or large active user base that depend on the curren

[2017-01-19 02:17] lukechampine opened #43 "Unavoidable allocation in Reconstruct"
My understanding of the `Reconstruct` function is this: For missing shards, the caller passes `nil`. Inside `Reconstruct`, a new slice is allocated for each missing shard, and the reconstructed data is copied into it.

The problem is that there is no way to reuse existing memory here; `Reconstruct` will _always_ allocate a new slice for each missing shard. This can get costly if you are missing ma

[2017-01-19 09:11] klauspost commented on #40
Fair point. I think you however missed my point about this being a breaking change.

I will not change the API based on neatness. If you were solving a fundamental issue, of course but not for exposing two variables.

[2017-01-19 09:11] #40 closed

[2017-01-19 09:15] klauspost commented on #43
That does seem like an acceptable solution, the chance of this colliding with existing functionality is very, very small. If it is possible for you to cook up a PR that would be greatly appreciated.

[2017-02-18 14:49] klauspost commented on #42
It saves the caller the trouble of having to inspect the returned error to see if it was invalid parameters passed, or the verification actually failed.

[2017-02-18 14:49] #42 closed

[2017-02-18 14:49] klauspost commented on #38
I have made this configurable through #46 - does that make sense for you?

[2017-02-19 12:48] #38 closed

[2017-03-07 13:20] henti opened #48 "The current v1.3 git tag is lightweight; please make it into an annotated tag"
Hi @klauspost,

While packaging reedsolomon for Debian, I received an error from `dh-make-golang` tool (https://github.com/Debian/dh-make-golang) that you are using lightweight tags.

This can be problematic as amongst other things, they are ignored by "git describe" by default.

if you'd like more details on the problem, see this bug report for details:
https://github.com/russross/blackfriday/iss

[2017-03-07 13:34] klauspost commented on #48
If this is a common problem, why not fix your tool?

I have no idea what you are asking me to do. Is there a way to do this in the Github releases section?

[2017-03-07 13:59] henti commented on #48
Hi Klaus,

dh-make-golang, which is part of Debian, only highlighted the problem. There is many arguments on the merits of each, but simply put, annotated tags records knowing who tagged the release and when. This is not true of lightweight tags.

The former makes packaging your code for wide distribution easy to automate, the latter does not.

More information on working with tags in github can b

[2017-04-06 21:34] fwessels opened #49 "Crash during benchmarking"
This may be a fluke but one of the reconstruction benchmarks apparently stalled (and got terminated by the testing framework).

NB It is on a pretty beefy box (using go1.7.5)
[code]

[code]

[2017-05-15 20:39] harshavardhana opened #51 "Misleading API WithMinSplitSize?"
[code]

This code is similar to `WithMaxGoroutines` is this correct? Isn't this supposed to be for minSplitSize?

[2017-05-28 10:38] #51 closed

[2017-05-28 10:40] klauspost commented on #51
Thanks for reporting. Should be fixed now!

[2017-06-05 05:18] timchenxiaoyu opened #52 "recover error"
go 1.8.1
I run examples/stream-decoder.go
I delete file kubernetes.tar.gz.5

-rw-r--r--  1 root root   1521233 6月   5 10:49 kubernetes.tar.gz.0
-rw-r--r--  1 root root   1521233 6月   5 10:49 kubernetes.tar.gz.1
-rw-r--r--  1 root root   1521233 6月   5 10:49 kubernetes.tar.gz.2
-rw-r--r--  1 root root   1521233 6月   5 10:49 kubernetes.tar.gz.3
-rw-r--r--  1 root root   1521233 6月   5 10:49 kubernet

[2017-06-07 01:11] #52 closed

[2017-07-12 08:32] starius opened #56 "Fix grammar in error messages"
[code]

[2017-07-16 15:35] #56 closed

[2017-07-21 06:28] aead opened #58 "Avoidable memory allocatons in Split"
Split divided the data into `DataShards` blocks and allocates all parity blocks. The allocation is not necessary if the capacity of the passed slice is large enough to hold some/all parity blocks.

This is currently a performance problem at [minio's](https://github.com/minio/minio) erasure coding (XL) backend.

[2017-07-22 14:16] #58 closed

[2017-08-13 20:38] #49 closed

[2017-09-06 06:11] jannson opened #65 "Get some idea from other project using "GF SIMD" ?"
Thanks to this project that I am using all the time.
I found another project in golang with compatible API like this project, please have a look: https://github.com/templexxx/reedsolomon

Maybe you can have some great idea from it.

[2017-09-14 21:06] aead opened #67 "Reconstruct should consider shard buffer capacity"
Currently [reconstruct data](https://github.com/klauspost/reedsolomon/blob/master/reedsolomon.go#L685) and [reconstruct parity](https://github.com/klauspost/reedsolomon/blob/master/reedsolomon.go#L707) allocate a new shard when the shard is marked as missing (`len(shard) == 0`).
Reconstruct should check whether the capacity of the shard is large enough to avoid the allocation whenever possible.

[2017-09-20 19:10] #48 closed

[2017-09-20 19:11] klauspost commented on #67
Fixed. Thanks for the report

[2017-09-20 19:11] #67 closed

[2017-09-20 19:11] klauspost commented on #43
Fixed through #66 - thanks for reporting.

[2017-09-20 19:11] #43 closed

[2017-09-24 04:01] rogers0 opened #69 "There's a performance improved fork of this project"
I'm debian pkg maintainer of your reedsolomon project.
It's got my attention that there's a fork of your project that claims big performance boost:
 - https://github.com/templexxx/reedsolomon

I asked the fork author to send the improvement patch to you upstream, but he/she seems kinda not interested in it.
 - https://github.com/templexxx/reedsolomon/issues/9

I looked at two project and find ther

[2017-09-24 09:42] klauspost commented on #69
Honestly, I don't think the difference is that big.  You can tweak the benchmarks in this package to operate on data in caches.

Running on my local Desktop (Core i7-2600 @3.4Ghz):
[code]
So single core performance is a big better, but nothing mindblowing.

I looked at the code, and it is pretty much the same. It has a bit more unrolling, but the code is memory limited anyway. I have privately don

[2017-09-24 17:04] klauspost commented on #65
Nothing new there. Performance seems similar, and otherwise looking neat. I made performance comparison at #69

[2017-09-24 17:04] #65 closed

[2017-09-24 17:04] klauspost commented on #69
Added #70 with Cauchy matrix.

[2017-09-25 07:02] templexxx commented on #69
@klauspost

Thank your for your contribution, you really help me a lot  👍

Yes, the code is memory limited, and the loop-unrolling can't help much.  ( but as a green hands, it's a good practice for me, :D)

I made some tricks for cache-friendly, so it will make performance improving when the shards size is big or the size can't divisible by 16 or the size is very small ( < 4KB).

for example: I sp

[2017-09-25 08:10] klauspost commented on #69
It is probably because I am on a system without AVX2. Here is a benchmark with AVX2:

I did some tests, and it seems like the "maximum goroutines" could benefit from some adjustments:

[code]
So there is still some performance to be had with some tweaks.

[2017-09-25 10:35] templexxx commented on #69
@klauspost

Thank you for your testing

[2017-09-25 10:47] templexxx commented on #69
@rogers0

@klauspost and I do same job in different way, we have same core codes. But I make it work on a single goroutine.

So I think it's hard to merge my codes to his.

And as @klauspost said, the code is memory limited. So  I think there is no need to do that either.

I think klauspost can do much better job than me in many ways, I still need to learn from him a lot of
things.

[2017-09-27 01:26] fwessels commented on #69
We also tested against this project but did not find significant performance differences between the two projects.

[2017-09-27 01:50] templexxx commented on #69
@fwessels

yes, klauspost/reedsolomon run on multi-cores, mine is not.

that's the main difference

[2017-10-30 15:18] Fossil01 opened #72 "PAR2 Creation"
I've tried to find one but is there a project which uses this repo to create PAR2 files? I've been looking for a faster alternative to https://github.com/animetosho/ParPar.

[2017-11-18 15:15] klauspost commented on #72
PAR2 uses gf16 for up to 65535 blocks. The current library only has an gf8 implementation.

I am interested in a gf16 engine, but currently does not have the resources to write it.

[2017-11-18 15:16] #69 closed

[2017-12-05 19:59] vtolstov commented on #35
@klauspost please, review this pr, i want to use parity 0 in case i don't need additional data to reconstruct. This is simplify code that uses this library.

[2017-12-10 19:59] klauspost commented on #35
@vtolstov - there is no PR. You are welcome to send one in if you have the time.

[2018-01-11 09:13] Hoke opened #76 "build have this error!"
# github.com/klauspost/reedsolomon
klauspost/reedsolomon/galois_amd64.s:146: unrecognized instruction "VINSERTI128"
klauspost/reedsolomon/galois_amd64.s:147: unrecognized instruction "VINSERTI128"
klauspost/reedsolomon/galois_amd64.s:159: unrecognized instruction "VPSRLQ"
klauspost/reedsolomon/galois_amd64.s:162: unrecognized instruction "VPSHUFB"
klauspost/reedsolomon/galois_amd64.s:163: unrecogn

[2018-01-11 16:45] klauspost commented on #76
You probably need a newer Go installation. These should be supported from Go 1.7 and upwards, maybe even 1.6. Current release is Go 1.9.

[2018-01-11 16:47] klauspost commented on #76
You can also pull [v1.6](https://github.com/klauspost/reedsolomon/releases/tag/v1.6), which is compatible back to Go 1.5 or thereabout.

[2018-01-12 01:40] Hoke commented on #76
thank you，before my go version is go1.6.2 linux/amd64

[2018-01-12 06:54] #76 closed

[2018-01-12 21:45] vtolstov opened #77 "how to deal with partially overwriting"
I'm check examples but have no luck.
I have for example 4Mb of data and want to use this package to split it for 1Mb data blocks and add parity to it. After that i need to overwrite this 4Mb of data from 2Mb and to 3Mb (1Mb of data).
I know that i can read back 4Mb of data, modify it and write again, but this is significant overhead in case of massive read/write. How to deal in this case and not r

[2018-01-13 16:56] darrenldl commented on #77
So you essentially have 4x1Mb data blocks, and you want to add some number of parity blocks to it.

Then you want to overwrite the 3rd data block with some other data?

And why do you need to read all 4x1Mb data blocks again to modify and write again? Is this due to the medium(e.g. disk, network)?

[2018-01-13 17:03] vtolstov commented on #77
Ok, i'm retry =). Main question - how to deal if i need overwrite data that belongs to 2 blocks (for example last 512Kb on one block and first 512K of another.

[2018-01-13 17:17] darrenldl commented on #77
I am guessing you're asking about error detection and recovery then?

For error detection, you can supply the parity shards(at least 1 parity shard) and use the `Verify` method, but this does not tell which blocks are overwritten/corrupted, it only tells if there are some blocks that are corrupted.

To know which specific blocks are overwritten/corrupted, you need to use checksum(e.g. CRC16, CRC32

[2018-01-14 13:59] vtolstov commented on #77
Thanks, so as i understand if i have blocks 16Mb and i need to overwrite 1Mb of data i need always reread 16Mb to modify 1Mb in memory and write it again to disk?

[2018-01-15 06:47] darrenldl commented on #77
I am slightly lost on your exact configuration(sorry!), so I will list both situations below.

#### Situation A
You have **M** data shards/blocks, and **N** parity shards/blocks.

**Each shard/block is 16Mb in size.**

1Mb **of** a block is overwritten/corrupted. To repair the block, you do not need to load the block anymore(just pretend it is missing), but you need to load at least **M** blocks.

[2018-01-15 14:53] darrenldl commented on #72
Is gf16 used very commonly in places other than PAR2? Or is there a very practical reason to prefer gf16 over gf8?

I am somewhat interested in adding this to the Rust port, but I can't seem to find many software/designs that use gf16.

[2018-05-04 12:36] nicola opened #78 "Why limiting shards to 257?"
(as the questions says!)
This should be unbounded, one should be able to pick any size, no?

[2018-05-04 12:49] klauspost commented on #78
The underlying "gf8" engine only supports matrices up to 256x256.

PAR2 uses gf16, which allows up to 64k shards, but typically a bit slower. This package currently does not implement gf16.

[2018-05-04 14:37] nicola commented on #78
Thanks a lot for your reply!
Mind linking PAR2? I wonder if you can support more than that!

[2018-05-19 08:45] animetosho commented on #78
[PAR2](https://en.wikipedia.org/wiki/Parchive) is more of a file format which *uses* GF( 2^16 ) under the hood, as opposed to some library to help you do RS coding.

If you're looking for a PAR2 implementation in Go, there is [one available here](https://github.com/akalin/gopar). I don't know if there's any library interface, but you could adopt it to your needs perhaps. For other implementations

[2018-05-21 17:29] klauspost commented on #78
Closing, since this is a duplicate of #72 - thanks for the details animetosho!

[2018-05-21 17:29] #78 closed

[2018-08-30 21:52] nidhiardent opened #81 "Why the library doesn't allow io.Pipe()"
When trying to use the concept of Pipes for Stream-encoder.go it ends up in deadlock. I want to know why library does not allow usage of io.Pipe for the same.

[2018-08-31 10:50] klauspost commented on #81
I guess it depends on how it is implemented, so if you can share an example, it would be easier to debug.

The typical problem is if you are writing to a PipeWriter, but the PipeReader is not consuming the input - you need to do reads in a separate goroutine, since the io.Pipe does not provide any buffering, so when a write is done to the Writer, there must be a goroutine ready to pick it up on th

[2018-08-31 16:42] nidhiardent commented on #81
Sure, I have followed the example stream-encoder.go with implementation of Pipe.

[code]

But when I run this it ends up with Deadlock for all goroutines.

[2018-10-18 15:51] vitalyisaev2 opened #82 "Question: is it mandatory to call Verify after Encode?"
In the [basic example](https://godoc.org/github.com/klauspost/reedsolomon#example-Encoder) `encoder.Verify` is called twice: both after `Encode` and `Reconstruct` actions. It's clear why we have to verify shards after reconstruction, but do we need to verify `Encode` operation as well?

Kind regards,
Vitaly

[2018-10-18 17:53] klauspost commented on #82
No it is purely for demonstration purposes. Calling after Reconstruct is also optional and should not give failures.

[2018-10-21 20:22] tindli opened #83 "Use of library for 20 data bits"
I have 20 data bits (not bytes) and a total of 60 bits that can be used for redundancy.
I should be able to correct 5 errors.

How can I use this library for bits - is this even possible?

[2018-10-21 21:38] klauspost commented on #83
Hi. Designing for these sizes will depend a lot on your expected failure scenario. Will bits be randomly flipped. Will some be missing, etc.

Remember that rs codes does not by itself tell you which values are correct - you need to have that information.

It seems Turbo codes or LDPC codes is more what you need.

[2018-10-22 05:19] tindli commented on #83
Thank you for the answer, I will look into the alternatives to see if they better fit my needs.

By looking at the encoder example code of this library, I realized, that hashes are required if one does not know if the data is valid.... Since my data bits are extracted from the an image, I could tell, if I am unsure what its value really is (0/1) - in such a case, I would apply reconstruction... so

[2018-10-22 09:08] vitalyisaev2 commented on #82
Thank you! I had doubts about these functions, so now going to avoid it for perfomance reasons.

[2018-10-22 09:08] #82 closed

[2018-10-22 10:23] vitalyisaev2 commented on #82
Thank you, because I had doubt about this function, but now I feel free to delete it from the code (for the

[2018-11-01 12:16] ghatwala opened #84 "Optimization for power"
Hi @klauspost ,

I have been trying to understand the process for creating optimized go code for power(ppc64le) in here "https://github.com/klauspost/reedsolomon" similar to the optimization done for amd(galois_amd64.go) and arm(galois_arm64.go).

My understanding is below for example on "amd64"
The routines that have been optimized for amd64 and are present in " galois_amd64.go" in klauspost repo

[2018-11-12 08:28] niteshemmadi opened #85 "Issue with odd number of shards"
Facing problem with reconstructing file while using odd number of data shards(5,2):
var dataShards = flag.Int("data", 5, "Number of shards to split the data into, must be below 257.")
var parShards = flag.Int("par", 2, "Number of parity shards")

My terminal output:
----------------------------------------------------------------------------------------------------------------------------------
$

[2018-11-12 08:35] klauspost commented on #85
Hi!

The "simple-encoder" has some limitations [listed in the source](https://github.com/klauspost/reedsolomon/blob/master/examples/simple-encoder.go#L15). The important one is the first:

The solution for this is listed below and requires you to store the expected output size somewhere else, (along with a hash for each shard for checking whether a shard is good).

[2018-11-13 06:50] niteshemmadi commented on #85
Sure. Storing and verifying hash of each shard separately works for my system. Thanks.

[2018-11-13 06:50] #85 closed

[2018-11-16 13:44] let4be commented on #72
Has someone managed to verify/repair par2 using this library? Is there anything implementing gf16 in go?
Thanks

[2018-12-03 00:41] lukechampine commented on #40
@klauspost there is a performance reason to export `reedSolomon`. Because `Encoder` is an interface, the compiler cannot perform escape analysis on the underlying type. For example, when you call `Encode(shards)`, the compiler is forced to move `shards` to the heap because it cannot prove that `Encode` does not retain a pointer to `shards`.

Returning `*ReedSolomon` from `New` would be ideal, but

[2018-12-07 05:29] jimmylei opened #87 "port form JavaReedSolomon? java version can't reconstruct shards generated by this library."
Tried to create shards by this library. but while trying to reconstruct shards with Backblaze Java sample, always get outboundIndx error, any idea?

[2019-01-05 03:18] t123yh opened #89 "Why not use mod here?"
https://github.com/klauspost/reedsolomon/blob/8885f3a1c73882e6f11b766242c69a1eb8f44b28/galois.go#L898

`logResult %= 255` should do the same job as this and be faster, simpler.

[2019-01-22 00:53] racerxdl opened #90 "Compatibility with other ReedSolomon Data"
I'm not sure how the sharding process work, but I have no idea what the shards really are.

I though they were the bytes itself, but if I ran against a RS(255,239) generated parity, it doesnt work.

How that library parameters correlate to normal RS Libraries for CCSDS, DVB-S and others?

Quick example: DVB-S uses RS(204,188). This is a example payload:

[code]

The last 16 bytes are the parity, f

[2019-01-22 12:34] darrenldl commented on #90
This library works at the block level rather than byte level, so it's most likely not compatible with your use case. So instead of appending parity data to a single byte string, this library generates parity blocks to deal with missing blocks of data - you get a group of blocks rather than a new byte string at the end.

For your use case, something like [this](https://github.com/colin-davis/reedSo

[2019-01-22 18:45] racerxdl commented on #90
Ahh great! I will check this RS from colin-davis. Looks like its what I'm looking for. So far I'm using a wrapper I did for libcorrect (https://github.com/racerxdl/gorrect/blob/master/ReedSolomon.go) but I wanted a pure go solution as well.

Thanks! I will check that.

Lucas

[2019-01-22 18:45] #90 closed

[2019-02-10 04:59] fwessels commented on #84
This has been fixed with https://github.com/klauspost/reedsolomon/pull/88

[2019-02-10 10:25] klauspost commented on #89
Mod would be used if it was `logResult -= 256`

[2019-02-10 10:25] #89 closed

[2019-02-10 14:38] klauspost commented on #84
Indeed!

[2019-02-10 14:38] #84 closed

[2019-02-10 14:49] klauspost commented on #81
`enc.Encode(parityInput, parityOutput),` cannot freely read from the inputs it wants.

`enc.Split(f, data, instat.Size()),` will fill one Writer fully before moving on to the next. So the encoding blocks because it cannot read from shard 2, since no data is available there yet.

As the documentation states:

This means the readers given as input cannot block because it want data to be read from an

[2019-02-10 14:51] klauspost commented on #77
Thanks for the great explanation @darrenldl

Closing the issue for now.

[2019-02-10 14:51] #77 closed

[2019-02-10 17:35] vtolstov commented on #77
Thanks

[2019-02-15 14:34] klauspost commented on #87
Sounds like a problem in their library. I would open an issue there.

[2019-02-15 14:34] #87 closed

[2019-02-15 14:35] klauspost commented on #83
I don't know the library, so I can't really tell you.

Closing for now.

[2019-02-15 14:35] #83 closed

[2019-02-15 14:36] klauspost commented on #29
@spikebike Feel free to open a PR if you still have the better example.

[2019-02-15 14:36] #29 closed

[2019-02-15 14:37] klauspost commented on #81
@nidhiardent Closing for now. Feel free to re-open if what I wrote doesn't make sense.

[2019-02-15 14:37] #81 closed

[2019-02-27 05:18] 1a1a11a opened #93 "Huge memory Cost"
I am benchmarking the performance of this library, so I notice that it uses huge amount of memory, the benchmark program is the following.
In the code, n is the number of dataChunks + parityChunks, k is the number of data chunks. I used n=4, k=3, and 64GB is not large enough to run through the test.

[code]

[2019-02-27 05:34] #93 closed

[2019-03-01 04:28] 1a1a11a opened #94 "not scalable well with multiple go routines"
I restrict each coder to use one goroutine and I launch 8 goroutines for decoding different stuff, but the performance does not scale well. Here are my test cases, 3 data chunk, 1 parity chunk, chunk size 128B - 16K.

Using aws c5.2xlarge (AVX512 support), only test decoding.

If chunk size is 128 Byte, single thread throughput is 635 MB/s, while 8 goroutines give around 921 MB/s (aggregated throu

[2019-03-01 08:52] klauspost commented on #94
First of all, when you restrict to one goroutine, *you* are doing scaling, not the reed+solomon package.

Second of all, `c5.2xlarge` is 4 cores, plus some added bonus from the hyperthreads.

With small sizes, all of these are heavily dominated by setup time. As you can see bigger blocks gives more throughput. At one point you also run into memory bandwidth limitations with the memory bus being sh

[2019-03-01 12:33] 1a1a11a commented on #94
hi @klauspost, thank you for your quick reply! I agree with some of your points, however just to point out a few more observations,
1. Yeah it is effective 4 threads with hyper threading, soI tried 1, 2, 4, 8 and 16 goroutines, but 2, 4, 16 goroutine performance are worse than 8, that's why I reported 8.
2. I tried autogoroutine option which gives me similar results.
3. I also tried multiprocessin

[2019-03-03 06:02] 1a1a11a opened #95 "Is encoder thread-safe?"
Can I use the same encoder in multiple goroutines?

[2019-03-03 06:11] darrenldl commented on #95
The core struct (`type reedSolomon struct`) is largely stateless, except for the field `tree` of type `inversionTree`, which is a specialised cache for temporary storage of matrices used for reconstruction.

`inversionTree` is protected by a mutex.

So to the best of my knowledge, yes it is safe to use it in multiple goroutines for all scenarios.

[2019-03-03 06:13] 1a1a11a commented on #95
Thank you, Darren!
I will update here if it is not.

On Mar 3, 2019, 01:11 -0500, Darren <notifications@github.com>, wrote:

[2019-03-03 06:14] darrenldl commented on #95
The same architecture is implemented in a Rust port of this library, and Rust would complain if it's not thread-safe. So overall I believe it is thread-safe.

[2019-03-06 18:24] klauspost commented on #95
Yes, it is, but checking with the race detector is of course always recommended - if nothing more then to check your side of the code.

[2019-03-06 18:24] #95 closed

[2019-03-06 18:32] klauspost commented on #94
My guess is, that most is related to caching. Having to context switch and set up a lot of smaller calculations or switch between them will drastically reduce the cache efficiency. Details like whether you are sharing cache lines across goroutines in your input/output can also negatively affect multicore scaling.

There are no locks once you have created the Encoder.

[2019-03-07 23:01] 1a1a11a commented on #94
Thank you for your reply! It is good to known there is no lock. If it is related to caching, why multiprocessing (each binary uses one goroutine, but launch the binary multiple time) has much higher throughput?

[2019-03-08 10:18] klauspost commented on #94
The only real difference would be the placement of data in memory.

If your destination slices share cachelines across goroutines there will be a significant overhead. Again, without seeing your benchmarks I'm just guessing.

I just merged an optimization that should help in your setup for small blocks.

Also, I just realized that you are doing 3:1, which honestly could just as well be done with s

[2019-03-08 18:52] 1a1a11a commented on #94
Hi @klauspost, the destination does not have any sharing, I have attached my code below. Thank you for mentioning about the new package and possibility of using xor! It is helpful, we are still investigating which schemes we should use, one parity is just one possibility.

[code]

[2019-03-08 19:10] klauspost commented on #94
Thanks. You do know that `rand.Intn()`  has a global mutex? So your very small sets will have very serious contention for that? Be careful that you are not benchmarking that instead.

[2019-03-08 19:17] 1a1a11a commented on #94
Hmm, nice catch! I didn't realize that, let me benchmark again without this.

[2019-03-08 20:23] klauspost commented on #94
Another (minor) thing you can do is to use `shards[x] = shards[x][:0]` to reset your slice. This will prevent allocating a new slice for the output and takes GC mostly out of the equation.

[2019-03-08 20:31] 1a1a11a commented on #94
A good suggestion! I will change that for the benchmark. :)

Jason

On Mar 8, 2019, 15:23 -0500, Klaus Post <notifications@github.com>, wrote:

[2019-03-11 01:51] 1a1a11a commented on #94
Hi @klauspost, I has redone the benchmark (on a different instance type), but seem the results are pretty similar. For large block size, the scalability seems fine, but small block size, the scalability is really bad.

Left is block size in byte, right is aggregated throughput in MB/s

[code]
[code]

[code]

[2019-03-11 02:23] 1a1a11a commented on #94
My bad, the results of last post is using the old code, here is the new one.

[code]

[code]

[2019-04-04 14:29] numbleroot opened #97 "Example encoders might check for too large dataShards value"
Hi @klauspost,
awesome library, thanks for developing and maintaining it.

This is a minor issue I noticed in the example encoders provided in the example folder of the project. It appears to be the case that the data shard argument is checked to be below ```258``` instead of below ```257``` as mentioned throughout various places in this project.

Concretely, I believe, the referenced lines below

[2019-04-05 00:49] klauspost commented on #97
Sounds like you found a bug. Feel free to open a PR  then you can get proper credit for it. 👍

[2019-04-05 07:42] #94 closed

[2019-04-07 15:36] klauspost commented on #97
Merged! Thanks!

[2019-04-07 15:36] #97 closed

[2019-04-30 09:00] TennyZhuang opened #99 "Is it identical to call Reconstruct() instead of Encode()?"
If l always call Reconstruct([datas..., nil, nil, nil], [nil, nil, nil, parities...]) instead of call Encode(datas, parities), is it identical in both result and performance?

[2019-04-30 09:19] templexxx commented on #99
@TennyZhuang
In theory, yes. But need more time for searching matrix(although it's just the generator matrix) and allocating memory space.

[2019-04-30 09:31] TennyZhuang commented on #99
In my opinion, the additional memory and time is O(n*m) and is not related to data, so the additional cost can be ignored for large data (such as 1GB or more), is it right?

[2019-04-30 10:24] templexxx commented on #99
Yes. The cost is not expensive

[2019-04-30 14:41] TennyZhuang commented on #99
Thanks

[2019-04-30 14:41] #99 closed

[2019-05-05 21:22] chranmat opened #100 "^@^@^@ added to the end of the file"
Hi,

I recently downloaded this library and started to test the examples attached in the examples/ folder.

When decoding a random text file I experienced that a string ^@^@^@ is added to the end of the decoded file.

Steps to reproduce:
1. Create a text file with some content. (Mark! Several newlines is used between the text in this file)
<img width="1445" alt="1" src="https://user-images.githubu

[2019-05-05 21:28] chranmat commented on #100
Attached is also original and decoded file that reproduces the issue:

Original:
[file.original.txt](https://github.com/klauspost/reedsolomon/files/3146062/file.original.txt)

Decoded:
[file.decided.txt](https://github.com/klauspost/reedsolomon/files/3146064/file.decided.txt)

[2019-05-05 22:10] raspi commented on #100
https://github.com/klauspost/reedsolomon#splittingjoining-data

[2019-05-05 22:12] klauspost commented on #100
See https://github.com/klauspost/reedsolomon/tree/master/examples#shortcomings

[2019-05-16 12:20] divyarajbm opened #101 "Decode Shards"
hello there, can you please help me to get original data from encoded shards ?

How to get this done ?

[2019-05-23 08:38] IoTServ opened #102 "panic with err “unreachable” when compile on i386 architecture，but on amd64 notfound this panic"
https://github.com/klauspost/reedsolomon/blob/a9588190c00b0ccd742218388f6ff68bbad83e5c/galois_noasm.go#L33

only on i386 plateform

[2019-05-23 08:44] IoTServ commented on #102
only linux386

[2019-05-23 09:48] #100 closed

[2019-05-23 10:22] klauspost commented on #102
@fwessels Do you have time to look at this?

I suspect we should disable AVX2 on non-AMD64 platforms here: https://github.com/klauspost/reedsolomon/blob/a9588190c00b0ccd742218388f6ff68bbad83e5c/options.go#L34

[2019-05-23 11:24] IoTServ commented on #102
@klauspost oh，yes.
And I found the library  "github.com/klauspost/cpuid" show the server support cpuid.CPU.AVX512F() , cpuid.CPU.AVX512BW() both GOARCH set 386 and amd64,but anthoer lib "github.com/intel-go/cpuid" said the server not support AVX512 when GOARCH set 386,so I need fork and disable it Manually?thans

[2019-05-23 13:03] klauspost commented on #102
I think AVX512 is available on i386, so not reporting it would be wrong.

The avx512 code is only made for 64 bits, so the problem is in this package.

[2019-05-23 13:10] IoTServ commented on #102
@klauspost oh，thanks，maybe I will wait your commit if you have time,that will be great!So I will close this issue.

[2019-05-23 15:11] klauspost commented on #102
If you don't mind, I would like to keep it open, since it is an issue that should be fixed. Thanks for reporting it!

[2019-05-23 15:12] IoTServ commented on #102
@klauspost ok

[2019-05-26 10:12] #102 closed

[2019-05-26 11:19] klauspost commented on #102
v1.9.2 released

[2019-06-22 21:28] urwork opened #104 "Can the number of parity shards more than the number of data shards?"
The readme said

Why "the number of parity shards to be below the number of data shards."?
Can the number of parity shards more than the number of data shards?

I see sia.tech can split data in to 30 segments, and recover from any 10 of 30 segments , can reedsolomon do this ?

https://sia.tech/technology

[2019-06-23 01:23] darrenldl commented on #104
The recommendation was likely made in relation to performance, as the time required grows quadratically with the number of parity shards used. And most people only want a percentage of overhead that is less than 100% if it's for error recovery purposes.

The only restriction is that the data + parity shard count must not exceed 256 in total, as reedsolomon uses Galois field (2^8).

You can emulate

[2019-06-24 08:10] #104 closed

[2019-08-09 10:07] l42111996 opened #108 "Is it fully compatible with Java Version?"
Is it fully compatible with https://github.com/Backblaze/JavaReedSolomon ?

[2019-08-12 14:03] klauspost commented on #108
I believe it is with default settings, but have not actually verified it.

Feel free to send in your experiences.

[2019-08-12 14:03] #108 closed

[2019-10-23 17:39] klauspost opened #110 "AVX512: Use VPTERNLOGQ for result XOR"
This is a magic function: https://github.com/HJLebbink/asm-dude/wiki/VPTERNLOGD_VPTERNLOGQ - examples: http://www.0x80.pl/articles/avx512-ternary-functions.html

We should be able to replace the 2 VPXORQ with a single instruction here: https://github.com/klauspost/reedsolomon/blob/79aee05119581c04038a4566d047b6dc58a8817b/galoisAvx512_amd64.s#L62

-> `VPTERNLOGQ 0x96, XMM5, XMM12, XMM13, `.  Reduce

[2019-11-17 06:29] jeffpeng78 opened #111 "NEON support for ARMv7"
Really loves this project and the performance is great on ARM64 NEON.

I am working on a project on the ARMv7 platform.
It looks like NEON is also supported on ARMv7:
[SIMD ISAs | Neon](https://developer.arm.com/architectures/instruction-sets/simd-isas/neon)

Do you have any plan to support ARMv7 platform?
Thanks!

[2019-11-17 11:19] klauspost commented on #111
No, but contributions are of course welcome.

[2019-11-17 11:19] #111 closed

[2019-12-04 16:31] Root-man opened #112 "Reconstructing data with corrupted shard(s)"
Hello,
I have a question regarding the reconstruction of original data when some of the data shards are corrupted (for example some of the bytes in shard `[]byte` are set to 0).
In this case I can detect that my dataset is invalid by using `Verify` function.
But then, if I pass the dataset to `ReconstructData`, it will do nothing, because of this code:
[code]
Is it possible to reconstruct the data

[2019-12-05 10:05] klauspost commented on #112
You should not use Verify for integrity check.  It is very weak and it cannot tell you which shard is broken. See the "usage" section of the README:

[2019-12-05 10:28] Root-man commented on #112
Ok, thank you!

[2019-12-05 10:28] #112 closed

[2020-01-18 12:57] klauspost opened #113 "Split: Extend original buffer if capacity is big enough"
`len(data) < (r.Shards * perShard) `

[2020-01-18 16:04] #113 closed

[2020-04-30 08:07] klauspost opened #119 "AVX512 not processing concurrently"
AVX512 should be able to process concurrently.

@fwessels

[2020-05-03 18:27] klauspost commented on #110
Fixed in #121

[2020-05-03 18:27] #110 closed

[2020-05-04 08:06] #119 closed

[2020-05-04 08:17] klauspost commented on #101
Data in shards is not encoded in any way. What you put in is what you get out.

[2020-05-04 08:17] #101 closed

[2020-05-04 16:14] IoTServ opened #125 "linux arm64 build error"
https://travis-ci.com/github/OpenIoTHub/server-go/jobs/327449253#L649
   ⨯ release failed after 384.08s error=failed to build for linux_arm64: # github.com/klauspost/reedsolomon
../../../../pkg/mod/github.com/klauspost/reedsolomon@v1.9.5/reedsolomon.go:464:4: r.codeSomeShardsAvx512P undefined (type reedSolomon has no field or method codeSomeShardsAvx512P)

[2020-05-04 16:33] klauspost commented on #125
Thanks! I will see if I can find some better way to handle that.

[2020-05-04 18:06] #125 closed

[2020-05-04 18:07] klauspost commented on #125
@IoTServ Thanks for reporting. I cleaned up the build tags a bit and I will try to set up some cross compilation to check for this.

[2020-05-22 05:36] gopricy opened #148 "Wrong reconstruct result"
Hi, I tested this package and it seems like the reconstructed shards is wrong
Here is my test
https://play.golang.org/p/sdgkOllg9eS

Let me know if I have some misunderstanding. Thanks!

[2020-05-22 09:02] klauspost commented on #148
You never encode the shards. Split only splits the data, it does not encode the parity shards.

I didn't want to deal with your homemade Join, so I switched it to the original.

https://play.golang.org/p/AFiu79CROov

[2020-05-22 09:02] #148 closed

[2020-06-02 23:47] Joshfindit commented on #72
I feel like this is probably out of scope for the project, but I've been hoping someone can pick up the ideals from the now-dusty PAR2 tools in a way that can be used on USB sticks, in home labs, and on personal/SMB servers.

*(I also wouldn't mind if someone tacked on subfolder support to PAR2 files by storing relative path in the index, but that's just for future Googlers who come across this pr

[2020-06-03 05:42] animetosho commented on #72
I'm not sure what you mean by "can be used on USB sticks [etc]", but PAR2 supports subfolders just fine, from what I can tell.

[2020-06-04 08:57] fwhezfwhez opened #149 "unrecognized instruction"
go 1.10

[code]

[2020-06-04 09:17] klauspost commented on #149
Go 1.10 (as well as 1.11) is not supported.

If you cannot upgrade you can pin an older version in your dependency management. Without testing 1.9.4 should work, but you may need to go further back.

[2020-06-04 09:17] #149 closed

[2020-08-27 23:25] spikebike opened #152 "simple-encode/decoder not working?"
I thought we discussed this before, but I looked through closed issues and didn't find it.

I ran the below on the current git version:

[code]
I believe we previously discussed some wrapper format to make sure the pieces were ordered, detecting the wrong length, etc.  But in this case there's plenty of redundancy left, the files are in the right order, and they are all at the original size.

I pr

[2020-08-27 23:51] spikebike commented on #152
Ah, looks like it works well with missing files, but not corrupted files.  So a file format based on this Reed Solomon code should add a sha256sum or similar to each chunk, and then a decoder would discard any shards with an invalid checksum.

[2020-08-27 23:52] spikebike commented on #152
Think it's worth a pull request to add a sha256sum to each piece and then reject corrupt pieces.

[2020-08-28 07:46] klauspost commented on #152
@spikebike Feel free to send in a PR

[2020-08-28 07:46] #152 closed

[2020-12-09 11:18] FloThinksPi opened #155 "Installation issue options.go: cpuid.CPU.xxx undefined (type cpuid.CPUInfo has no field or method xxx)"
When i install via go get i get these errors(on may architectures). This was executed on a Fedora33 x86_64 VM. However i can also see this happening on aarch64 and armhfb. Any ideas ?

This is from my personal system.
[code]

Here are logs from a copr build server: https://download.copr.fedorainfracloud.org/results/flothinkspi/duplicacy/centos-stream-x86_64/01822344-duplicacy/builder-live.log.gz

[2020-12-09 11:34] FloThinksPi commented on #155
Somehow it does not honor go.mod:
[code]

Can someone say if it is just a local thing for me ?

[2020-12-09 11:45] FloThinksPi commented on #155
After cleaning my go folder and using GO111MODULE=on it worked and picked the right version 🤷

[2020-12-09 11:45] #155 closed

[2020-12-25 11:14] vitalif opened #158 "Benchmarks are wrong as you're testing very small chunks"
Hi.
Your benchmark data is wrong because when you're testing 10kb chunks everything resides in cache and you get very high performance.
For example BenchmarkEncode5x2x1M = 14 GB/s on my laptop with GOMAXPROCS=1, but if I raise chunk size to 1G it becomes 5.5 GB/s. And if I set it to 10000 the result becomes 23.5 GB/s which is over the head :))
5.5 GB/s is still good of course, ISA-L gives somethin

[2020-12-25 11:38] klauspost commented on #158
That is why the data size is specified.

You need to consider your cache size and memory throughput yourself.

[2020-12-25 11:38] #158 closed

[2020-12-25 11:40] klauspost commented on #158
Since you are encoding data you just prepared, it is very likely the data is in one or another cache.

[2020-12-25 11:54] vitalif commented on #158
I don't think so, real-world applications aren't guaranteed to operate on the same small memory range over and over...

Anyway, the first perfomance table in README doesn't state that it's for really small chunks of data so numbers like 100 GB/s look pretty astonishing and I think misleading

[2020-12-25 11:59] vitalif commented on #158
Oh, sorry, it states that it's for 1 MB chunks. OK then, can you please tell how did you get 100 GB/s?

[2020-12-25 12:05] klauspost commented on #158
There is a benchmark in the package. Not at my computer right now, but Encode... 5x2x1MB or something like it.

[2020-12-25 12:08] vitalif commented on #158
Yeah I run it with go test -test.bench=. -test.run=aaaa, the only thing I can't reproduce is the parallel benchmark, -test.cpu=8 and GOMAXPROCS=8 have no effect in my case, the process still only uses 1 core...

[2020-12-25 14:49] klauspost commented on #158
@vitalif The numbers are from my AMD desktop, this is from my Intel laptop, 6 cores:

[code]
Latest master.

[2021-01-11 13:01] TomerElya opened #159 "Inversion cache leaking memory?"
Hey! I'll start off and say that everything said here is nothing but an assumption/not verified yet supported by facts we've concluded during our attempt to solve our issue.
I'll make this as short as I possibly can; we're using the package inside our project which is meant to support high rates of data transmission.
What we're doing is as follows: we transfer files from one end to another, each f

[2021-01-11 13:24] klauspost commented on #159
@TomerElya Since there are several ways to use the package, could you post code that reproduces the problem?

[2021-01-12 08:17] TomerElya commented on #159
[code]

**And we use a reedsolomon encoder in both these cases:**
[code]

[code]

[2021-01-12 09:04] klauspost commented on #159
@TomerElya Do you have a working sample? None of the calls you are using are storing any state or have any huge buffers, so I would suspect the problem is elsewhere in your code.

[2021-01-12 09:52] TomerElya commented on #159
@klauspost Generally, the reconstructed data is returned from the function and proceeds onto a different worker which writes the data and it ends here.
My problem resides exactly here. Once the data is written, I no longer hold any reference to it so we expect it to be garbage collected. I can not say what structure/object remains allocated that slowly takes up all of our memory yet I do know that

[2021-01-12 10:18] klauspost commented on #159
@TomerElya If you cannot create a reproducer I am only guessing, and I don't expect the problem to be in the code you provided.

The `encoder, err := reedsolomon.New(config.shards, config.parity)` is thrown away in a few cases, but should be collected. Move the New to when you know you need it. But unlikely that will fix it.

You can create a memory profile what will show you where the leaking dat

[2021-01-12 13:48] TomerElya commented on #159
I'm unable to export my memory profile file out here but top5 shows the following:
2. ShardReconstructor.reconstruct:
 flat% 31.27%
 sum% 74.94%
 cum% 49.88%
3. klauspost/reedsolomon.newMatrix:
 flat% 16.57%
 sum% 91.51%
 cum% 16.57%
5. klauspost/reedsolomon.inversionNode.insertInvertedMatrix:
 flat% 1.88%
 sum% 97.85%
 cum% 1.88%

First spot is the function responsible for reading all the data fr

[2021-01-12 14:49] klauspost commented on #159
It does cache inverted matrices so they don't have to be recalculated .

This was contributed in #36

https://github.com/klauspost/reedsolomon/blob/c54154da9e35cab25232314cf69ab9d78447f9a5/inversion_tree.go#L26

I wouldn't really expect it to cause the memory usage you are describing. Maybe @somethingnew2-0 is still around?

I will see if I can figure something out, otherwise I will find a way to

[2021-01-12 14:58] klauspost commented on #159
@TomerElya Could you try out #160 - both with the changes and if that alone doesn't help with `WithInversionCache(false)` as well?

[2021-01-12 15:24] TomerElya commented on #159
@klauspost I have updated to #160 and ran it alone, same thing appeared to happen. I'm now running with AddInversionCache(false) and the memory seems steady. I'll let it run for a few hours or even overnight and hope for the best tomorrow.
I must say that I highly appreciate your fast response and care for our issue.

[2021-01-12 19:02] klauspost commented on #159
Let me know. I will merge it either way.

[2021-01-13 08:37] TomerElya commented on #159
@klauspost Held strong all night. Fixed our issue.

And, well, we move a pretty big amount of files and it seemed to have piled up with time until we got the OOM.

[2021-01-13 09:30] klauspost commented on #159
Unless there is a big number (virtually any combination) of encoders created it shouldn't grow to the sizes you describe.

I will keep this open until I have the chance to check that it isn't spending more ram than it needs to.

[2021-01-13 09:53] klauspost commented on #159
@TomerElya Could you give an estimate on the number of different `encoderConfig` variations and the ranges of the number of data/parity shards?

[2021-01-13 12:16] TomerElya commented on #159
@klauspost By estimation, we didn't have more than 7-10 encoders tops. To test our system we used the same size for files which resulted in the same encoders being reused. As for amount of shards/parity, that really depends on the size of the files we sent since we have our own calculation to determine the amount of shards and parity we desire.

[2021-01-13 14:05] klauspost commented on #159
@TomerElya What is the ballpark of total data+parity shards?

[2021-01-13 14:08] TomerElya commented on #159
@klauspost A calculation we use that varies based of the value of multiple parameters. I really can't give an answer that will suffice or be accurate.

[2021-03-08 15:13] #35 closed

[2021-04-29 02:45] simonsben opened #167 "Two zero valued bytes added to the end of decoded file"
I believe using three data and two parity (and potentially others) an additional two zero valued bytes are added to the end of the decoded file.

## Steps to reproduce

* Clone repo
* Create `test/` folder within [`examples/`](https://github.com/klauspost/reedsolomon/tree/master/examples)
* Encode file with `go run ../simple-encoder.go -data 3 -par 2 -out . ../README.md`
* Decode file with `go run

[2021-04-29 13:45] klauspost commented on #167
https://github.com/klauspost/reedsolomon/blob/master/examples/simple-encoder.go#L15

[2021-04-29 13:45] #167 closed

[2021-04-29 13:56] #159 closed

[2021-05-06 04:38] simonsben commented on #167
I see that its listed as a behavior, is it not worth correcting though?

[2021-05-06 07:53] klauspost commented on #167
@simonsben The example is meant to be simple, not exhaustive. You are welcome to send an alternative.

[2021-11-05 16:30] tdunning opened #171 "Are different encoders compatible?"
If I create 6 + 6, 6 + 4 and 6 + 2 (data + parity) encoders, will the first two parity blocks be identical for all three?

[2021-11-05 16:46] klauspost commented on #171
As far as I can tell the Cauchy matrix is, but test it out anyway I may be wrong.

[2021-11-05 17:10] tdunning commented on #171
Very cool. Interesting possibilities arise from this.

[2021-11-05 17:10] #171 closed

[2021-11-07 05:31] tdunning commented on #171
Just to finish off the story, I checked the results and
[code]
do actually seem to produce the same first two parity blocks. I checked this for 2,3,4,6,12 parity blocks and the encoders all seem to produce the same parity blocks where there is overlap.

I interpret this as the underlying code using the same parity generating matrix and simply truncating it as needed to match what is requested. Thi

[2022-01-07 07:40] DurantVivado opened #179 "About the inversionTree root"
Dear developers,
I think it's better to use the pointer as the root. That is :
from (inversion_tree.go:18)
`root  inversionNode`
to
`root  *inversionNode`

from (inversion_tree.go:32)
`root: inversionNode{
	matrix:   identity,
	children: make([]*inversionNode, dataShards+parityShards),
},`
to
`root: &inversionNode{
	matrix:   identity,
	children: make([]*inversionNode, dataShards+parityShards),
},

[2022-01-07 08:59] klauspost commented on #179
@DurantVivado Could you share your tests?

I don't understand how this could give any significant change.

[2022-01-07 09:11] DurantVivado commented on #179
Thanks a lot for replying!😂 Truly appreciation and respect.

In my own [testbed](https://github.com/DurantVivado/Grasure)
Test File:  erasure_encode_read_test.go
Test Benchmark:  BenchmarkEncodeDecode20x4x24x4096x20Mx2fault

- Before Change:
[code]
- After Change:
[code]
The improval is considerably explicit.

[2022-01-07 09:43] klauspost commented on #179
@DurantVivado Are you sure this isn't just randomness in the tests? You are reading and writing files which brings much randomness into the benchmark.

I tried running the benchmark, but it fails. Maybe because I use Windows.

`BenchmarkReconstructData50x20x1M` should test the inversion tree cache, and I see no measurable change, even if changing shards to 1K. In fact, *disabling* the inversion ca

[2022-01-07 09:58] DurantVivado commented on #179
I guess I miss some points somehow. The files I generate is different.
And for tests in `BenchmarkReconstructData10x2x10000`.  It seems to improve actually not much.(about 10%)
- Before
[code]
- After
[code]
I guess I am rookie in go. And need  more practices.😂
Anyway, thanks a lot for your assistance!

[2022-01-07 10:29] klauspost commented on #179
With  `-benchtime=10x` you are basically getting random numbers. Running with default, 1s:

[code]

Differences seems to be within run-to-run variance to me.

[2022-01-08 15:47] #179 closed

[2022-01-28 15:31] fadhilkurnia opened #180 "Unstable performance of the implemented reedsolomon"
Hi all, I am trying to measure the latency of doing reed-solomon encoding with this library. I found that the latency of doing reed-solomon encoding with this library **change significantly** when there is idle time between each encoding.

Here are the examples of what I mean:
1. Run the encoding back-to-back, without idle time.
[code]

2. Run the encoding back-to-back, with 5ms idle time.
[code]

[2022-01-28 15:46] klauspost commented on #180
Probably just timing inaccuracies.

[code]

Just seems like a bad test.

FWIW removing the sleep gives `reedsolomon_test.go:1168: (1000) avg. processing time 509ns` here.

[2022-01-28 15:46] #180 closed

[2022-01-28 16:22] fadhilkurnia commented on #180
[code]

Thank you for the quick response!

That's strange, you can see the full output from my end. I am using Macbook with M1 processor (ARM64). I don't think we can do the encoding under 1ns (that can cause the timing inaccuracies). For reference, 1cycle in 1Ghz cpu is roughly 1ns, and I don't think the encoding process only takes 1 cpu cycle. Let me test it with larger data.

[2022-01-28 16:29] klauspost commented on #180
@fadhilkurnia The Go timer cannot resolve this short timing durations. I can't tell why it behaves like this for you, and honestly it seems like you should just test this in another way.

[2022-01-28 16:29] fadhilkurnia commented on #180
I tried with larger data (10KB), and got the same results.

[code]

The results:
[code]

[2022-03-15 08:04] TomerElya opened #183 "Slice bounds out of range at ReconstructData"
Hey. I’m getting a slice bounds out of range with capacity 0 at
galMulAVX512Parallel84 (galoisAvx512_amd64.go:194)

It only happens once in very very few, since everything runs smoothly and processes many matrices but after a while panics for one that catches this case and I can’t seem to understand what’s happening
I’ll provide some code in a few
But there isn’t much to see since it’s a 116 shard

[2022-03-15 08:33] klauspost commented on #183
@TomerElya Please also post the crash trace.

[2022-03-15 09:12] TomerElya commented on #183
Klauspost/reedsolomon.galMulAVX512Parallel84

klauspost/reedsolomon/galoisAvx512_amd64.go194

klauspost/reedsolomon.(*reedSolomon).codeSomeShardsAvx512

klauspost/reedsolomon/reedsolomon.go:513

klauspost/reedsolomon.(*reedSolomon).reconstruct

klauspost/reedsolomon/reedsolomon.go:885

klauspost/reedsolomon.(*reedSolomon).ReconstructData

[2022-03-15 09:35] klauspost commented on #183
Thanks. I will take a look! 👍🏼

[2022-03-15 09:51] klauspost commented on #183
@TomerElya Are you sure you aren't modifying the input `shards [][]byte` while it is processing?

The crash should be fully consistent unless you have a data race, where you are modifying the slice, for example by sharing a pointer to it in a pool.

[2022-03-15 16:30] TomerElya commented on #183
I’ll double check and respond as soon as I can tell
Would any modification to the source array matter?

[2022-03-15 16:46] klauspost commented on #183
@TomerElya Anything sent as parameters must remain untouched by other goroutines while the function is running.

[2022-03-16 08:16] TomerElya commented on #183
You might have been right and I had an extreme edge case where I would assign to my [][]byte an additional shard during reconstruction
Handling this might’ve solved the problem, but I’m making sure
@klauspost

[2022-03-16 08:30] klauspost commented on #183
@TomerElya That could trigger it. Feel free to reopen with a reproducer.

[2022-03-16 08:30] #183 closed

[2022-03-18 07:54] yuanchao0310 opened #184 "replace [][]byte with []byte to reduce gogc scan time"
if data stored in [][]byte, the pointer number is the length of [][]byte,
if data stored in []byte, there is only 1 pointer number, so it can reduce gogc scan objects time.
How do you think if use `Matrix{[]byte, row, col}` struct?

[2022-03-18 08:03] klauspost commented on #184
Considering you are just dealing with max 256 entries I don't think that micro-optimization will bring any close to measurable difference.

[2022-03-18 08:03] #184 closed

[2022-03-18 10:24] yuanchao0310 commented on #184
Thanks for your quick reply.
I use reedsolomon on UDP packet, the udp data length range in (100-1400)
when my program start, I call reedsolomon.New(i, j) to create 256 Encoder (1<=i<=16, 1<=j<=16)and put these encoder object in lru.cache for future use.
each time I call Encode() or ReconstructData(), the input data length maybe different
for example:
encoder := GetCacheEncoder(16,4) // data shards

[2022-03-18 14:01] klauspost commented on #184
@yuanchao0310 I don't really see this being efficient in any reasonable way.

How are you even determining which parts are good?

Sounds like you are looking for Hadamard,  LDPC or Turbocodes instead.

[2022-03-21 03:31] yuanchao0310 commented on #184
@klauspost I use reedsolomon in webrtc project.
I send audio/video data packets and send some parity shards according to the network detecting result(rtt, loss rate ...),
The audio/video packet length are different, so I use max length of a group packets.
From golang pprof result, reedsolomon inuse objects is only 2%.
Just ignore this issue, I need continue to improve my application layer code to

[2022-08-15 11:03] vitalif opened #199 "Suggestion: Export Galois field arithmetic and move it to a subpackage like reedsolomon/galois"
Hi!
I tried to use this library to decode data encoded with jerasure and I discovered that jerasure has a different matrix generation algorithm.
With my previous "withCustomMatrix" patch it's now possible to supply a compatible matrix, but problem is that its generation requires GF arithmetic, and it's private.
It could be convenient to make it public. It could probably require moving galois funct

[2022-08-15 11:31] vitalif commented on #199
Submitted jerasure matrix generation here #200

[2022-08-22 11:34] klauspost commented on #199
Exporting functions requires proper design, since I will have to support exported functions. I don't have the bandwidth for a refactor. I am focused on getting GF16 to a releasable state.

A don't see why GF16 is a problem and you don't really put up any reasons for it. IMO it is pretty clean.

[2022-09-12 06:25] klauspost commented on #72
GF16 has been added, but not a PAR 2 compatible one.

I do not plan to add another since it will be interior.

[2022-09-12 06:25] #72 closed